In [29]:
print("A given class has 20 student (10 girls and 10 boys). For Girls :Age , Score anad height")
Girls = ['Samantha', 'Jada    ','Jane    ', 'Claire  ', 'Elizabet', 'Mary    ', 'Susan   ', 'Waje    ', 'Taibat  ' , 'Lilian  ']
Age= ['17','16','17','18','16','18','17','20','19','17']
height= ['5.5','6.0','5.4','5.9','5.6','5.5','6.1','6.0','5.7','5.5']
score = ['80','85','70','60','76','66','87','95','50','49']
print("Name     | Age|Height|Score")
for i in  range(len(Age)):
    print(Girls[i],  "|", Age[i],  "|" ,height[i],  "|" ,score[i],  "|")
print("A given class has 20 student (10 girls and 10 boys). For Boys Age , Score anad height")
Boys = ['Charles ', 'Jude    ', 'James   ', 'Kelvin  ', 'Biodun  ', 'Wale    ', 'Kunle   ', 'Matthew ', 'Tom     ', 'Kayode  ']
Age2= ['29','16','18','16','17','18','17','20','19','17']
height2= ['4.5','6.3','5.4','6.9','5.6','5.5','6.1','6.0','4.7','5.1']
score2 = ['80','85','70','60','76','66','87','95','50','61']
print("Name     | Age|Height|Score")
for i in  range(len(Age)):
    print(Boys[i],  "|", Age2[i],  "|" ,height2[i],  "|" ,score2[i],  "|")

A given class has 20 student (10 girls and 10 boys). For Girls :Age , Score anad height
Name     | Age|Height|Score
Samantha | 17 | 5.5 | 80 |
Jada     | 16 | 6.0 | 85 |
Jane     | 17 | 5.4 | 70 |
Claire   | 18 | 5.9 | 60 |
Elizabet | 16 | 5.6 | 76 |
Mary     | 18 | 5.5 | 66 |
Susan    | 17 | 6.1 | 87 |
Waje     | 20 | 6.0 | 95 |
Taibat   | 19 | 5.7 | 50 |
Lilian   | 17 | 5.5 | 49 |
A given class has 20 student (10 girls and 10 boys). For Boys Age , Score anad height
Name     | Age|Height|Score
Charles  | 29 | 4.5 | 80 |
Jude     | 16 | 6.3 | 85 |
James    | 18 | 5.4 | 70 |
Kelvin   | 16 | 6.9 | 60 |
Biodun   | 17 | 5.6 | 76 |
Wale     | 18 | 5.5 | 66 |
Kunle    | 17 | 6.1 | 87 |
Matthew  | 20 | 6.0 | 95 |
Tom      | 19 | 4.7 | 50 |
Kayode   | 17 | 5.1 | 61 |

In [ ]:
def calculate_atr(years_of_experience, age):
    if years_of_experience > 25 and age >= 55:
        atr = 5600000
    elif years_of_experience > 20 and age >= 45:
        atr = 4480000
    elif years_of_experience > 10 and age >= 35:
        atr = 1500000
    else:
        atr = 550000
    return atr

years_of_experience = int(input("Enter years of experience: "))
age = int(input("Enter age: "))
atr = calculate_atr(years_of_experience, age)
print("Annual Tax Revenue (ATR): N{:,}".format(atr))

In [ ]:
Enter years of experience: 25
Enter age: 20
Annual Tax Revenue (ATR): N550,000